table {
    width: 95%;
    margin: 0 auto;
}

td {
    padding-left: 20px;
}

tr.row:nth-child(even) td {
    background-color: #eee;
}

th {
    text-transform: uppercase;
    font-weight: bold;
    background-color: #6b77b9;
    color: #fff;
    cursor: pointer;
    padding: 15px;
}

.titleTab {
        text-align: center;
}

.button-holder{
    text-align: center;
}
.button {
        height: 40px;
        line-height: 40px;
        border-radius:10px;
        background-color: #374ece;
        color: #fff;
        padding: 0 1rem;
}
.buttonClick: hover {
    background-color:green;  }
